This notebook, by [felipe.alonso@urjc.es](mailto:felipe.alonso@urjc.es)

In this notebook we will introduce:

1. Common data structures in python
2. Functions
3. Boolean expressions

The following is a text cell (Markdown sintax)

In [1]:
# This is a cell code (comment)

2+3
# 2.0+3

5

# 1. Data structures

See the [documentation](https://docs.python.org/3.6/tutorial/datastructures.html#) for more details.

## Lists

In [2]:
# Lists are collections of items

x = [1,2,3,4,5,6]

#type(x)
#len(x)
#x[:3]
#x[3:]
#x.extend([7,8])
#x.append(9)
#x.sort()
#x.sort(reverse = True)

In [3]:
# Nested lists

y = [10,11,12]
z = [x,y]
print(z)

[[1, 2, 3, 4, 5, 6], [10, 11, 12]]

## Tuples

In [4]:
# Tuples are inmutable lists. Use () instead of []

x = (1,2,3)

#len(x)
#x[0]

In [5]:
y = (4,5,6)

[x,y] # list of tuples

[(1, 2, 3), (4, 5, 6)]

In [6]:
(age, income) = "27,55000".split(',')

print(age)
print(income)

27
55000

## Dictionaries

In [7]:
# Key-value pairs, like a hash table

census = {
    "Name": ["Roger", "Brian", "John"],
    "Surname": ["Taylor", "May", "Deacon"],
    "Born": [1949, 1947, 1951]
}

print(census)

{'Name': ['Roger', 'Brian', 'John'], 'Surname': ['Taylor', 'May', 'Deacon'], 'Born': [1949, 1947, 1951]}

In [8]:
#census['Name']
#census.keys()

In [9]:
for key in census:
    print('values: ', census[key])

values:  ['Roger', 'Brian', 'John']
values:  ['Taylor', 'May', 'Deacon']
values:  [1949, 1947, 1951]

In [10]:
for k,v in census.items():
    print('Key:', k, ', has value: ', v)

Key: Name , has value:  ['Roger', 'Brian', 'John']
Key: Surname , has value:  ['Taylor', 'May', 'Deacon']
Key: Born , has value:  [1949, 1947, 1951]

# 2. Functions

In [11]:
def sqr(x):
    return x**2

In [12]:
sqr(3)
#sqr('hola')

9

<div class="alert alert-block alert-info">
<b>Exercise:</b> write a python function called <b>plural</b> that takes a list of words and converts then into plural form (adding the char 's').</div>

As for example `plural(['Roger', 'Brian', 'John'])` should return `['Rogers', 'Brians', 'Johns']`

In [14]:
def plural(my_list):
    
    # your code here
    # ...
    return [e+'s' for e in my_listist]

# check your results
plural(census['Name'])

['Rogers', 'Brians', 'Johns']

# 3. Boolean expressions

In [15]:
1==3
1=='1'
1>3
1>=3

False

In [16]:
'hola'=='hola'
'2020-01-31' < '2020-02-01'

True

In [17]:
x = 2
if x==1:
    print('It is True')
else:
    print('It is False')

It is False

---
Lasopa